# Dependencies
node_modules/
backend/__pycache__
backend/rdb_timestock_3 copy
backend/rdb_timestock_3
backend/alert_cache.json

# Builds
dist/
out/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env files
.env
